@font-face {
  font-family: Montserat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Montserat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserat;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  padding-top: 40px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__elems {
  display: flex;
  align-items: center;
}
.header__icons {
  display: flex;
  align-items: center;
}
.header__btns {
  display: flex;
  align-items: center;
}
.header__search {
  margin-right: 40px;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  background-color: #156963;
  padding: 8px 33px;
}
.btn_w {
  color: #156963;
  background-color: #fff;
}

.main__wrap {
  display: flex;
  gap: 77px;
  align-items: end;
}
.main__texts {
  max-width: 523px;
}
.main__title {
  color: #156963;
  font-size: 68px;
  font-weight: 500;
  margin-bottom: 24px;
}
.main__text {
  color: #2C1500;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 110px;
}
.main__btns {
  display: flex;
}
.main__btn {
  width: 320px;
  padding: 40px 50px;
}
.main__btn-subtitle {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  margin-bottom: 12px;
}
.main__btn-subtitle_p::before {
  content: "";
  display: block;
  background: url("../img/arrow.svg");
  width: 32px;
  height: 32px;
  margin-right: 9px;
}
.main__btn-subtitle_n::after {
  content: "";
  display: block;
  background: url("../img/arrow.svg");
  width: 32px;
  height: 32px;
  margin-left: 9px;
  transform: rotate(180deg);
}
.main__btn-text {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}
.main__btn-text_g {
  color: #156963;
}

.adventages {
  padding: 142px 0;
}
.adventages__row {
  display: flex;
  gap: 32px;
}
.adventages__card {
  padding: 16px 20px;
  border: 1px solid #E0E0E0;
}
.adventages__block {
  display: flex;
  gap: 19px;
  margin-bottom: 16px;
}
.adventages__title {
  color: #156963;
  font-size: 16px;
  font-weight: 800;
  max-width: 108px;
}

.feat {
  padding: 80px;
}
.feat__up {
  display: flex;
  justify-content: space-between;
}
.feat__plants {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.feat__cheap {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 36px 8px 12px;
  border: 1px solid #E0E0E0;
  background: url(../img/arrow-down.svg) no-repeat right;
}
.feat__vector {
  padding: 16px;
}
.feat__flowers {
  padding: 24px;
}
.feat__row {
  display: flex;
}
.feat__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 217px;
  height: 281px;
  align-items: center;
  margin-right: 20px;
}
.feat__text {
  padding: 16px 0 0 0;
}
.feat__price {
  padding: 8px;
}

.more {
  padding: 80px;
}
.more__title {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.more__buy {
  color: #2C1500;
  font-size: 40px;
  font-weight: 700;
  width: 522px;
}
.more__text {
  padding: 16px 0 0 0;
  width: 506px;
  color: #2C1500;
  font-size: 18px;
  font-weight: 400;
}
.more__mirror {
  padding: 74px 0 0 0;
  width: 568px;
  height: 250px;
}
.more__wall {
  display: flex;
  justify-content: right;
  margin-top: -495px;
}

.get {
  padding: 80px;
}
.get__title {
  background: url("../img/get.jpg") no-repeat center center/cover;
  width: 1168px;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.get__title-text {
  color: #2C1500;
  font-size: 40px;
  font-weight: 700;
  width: 585px;
  padding-left: 97px;
  margin-bottom: 32px;
}
.get__btn {
  margin-left: 97px;
}

.planktu {
  padding: 80px;
}
.planktu__line {
  width: 1165px;
}
.planktu__info {
  padding: 60px;
  display: flex;
}
.planktu__logo {
  text-transform: uppercase;
  color: #156963;
  font-size: 24px;
  font-weight: 500;
}
.planktu__house {
  padding: 24px 0 0 0;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}
.planktu__address {
  padding: 10px 0 0 0;
  font-size: 13px;
  font-weight: 400;
}
.planktu__center-left {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
.planktu__peru {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.planktu__small-info {
  padding: 0 0 14px 0;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.planktu__small-info2 {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.planktu__center-right {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}
.planktu__email {
  color: #000000;
  padding: 8px 13px;
  font-size: 12px;
  font-weight: 400;
  border-color: #F2F2F2;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 14px;
}
.planktu__btn {
  color: #fff;
  font-size: 8px;
  font-weight: 500;
  background-color: #156963;
  padding: 4px 12px;
  border-radius: 2px;
}

